@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    /* body M */
    @apply font-body text-grey font-light text-lg lg:text-[1.375rem] lg:leading-8;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-heading text-black font-black;
  }

  h1 {
    /* headign XL */
    /* @apply text-8xl leading-88; */
  }

  h2 {
    @apply text-[3.125rem] leading-[2.8125rem] lg:text-6xl lg:leading-[3.75rem];
  }

  small {
    /* body S */
    /* @apply text-black text-lg font-light; */
  }

  button:hover {
    @apply bg-gold;
  }
}

@layer utilities {
  .full-width {
    left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    max-width: 100vw;
    position: relative;
    right: 50%;
    width: 100vw;
    overflow: hidden;
  }
}
